# Node modules
node_modules/

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/

# npm package lock file
package-lock.json

# Yarn lock file
yarn.lock

# Test coverage reports
coverage/

# Debugger configurations
*.launch.json

# Miscellaneous
*.swp
*.swo
*.swn
